@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<div class="text-center">
    <h1 class="display-4">MS Register :MSCoRe</h1>

<hr />

<img src="https://ukmsregister.org/images/MS-Register-Logo.png" />

<hr/>

<h2>Main website at : <a href="https://ukmsregister.org/">https://ukmsregister.org/</a></h2>

</div>
